<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">

    <title>Larp Char Tool</title>

    <!--/*/ <th:block th:include="fragments/headerinc :: head"></th:block> /*/-->
</head>
<body>
<div class="container">
    <!--/*/ <th:block th:include="fragments/header :: header"></th:block> /*/-->
    <div>
        <a href="#" th:href="${ '/chara/' + chara.id + '/charactersheet'}" class="btn btn-default">Download</a>
    </div>
    <h2 th:text="${chara.name}"></h2>
    <div>
        <form class="form-horizontal">
            <!--
            <div class="form-group">
                <label class="col-sm-2 control-label">Name:</label>
                <div class="col-sm-10">
                    <p class="form-control-static" th:text="${chara.name}"></p>
                </div>
            </div>
            -->
            <div class="form-group">
                <label class="col-sm-2 control-label">Condays:</label>
                <div class="col-sm-10">
                    <p class="form-control-static" th:text="${condays}"></p>
                </div>
            </div>
        </form>
    </div>
    <div th:if="${not #lists.isEmpty(visits)}">
        <h2>Visited Conventions</h2>
        <table class="table table-striped">
            <tr>
                <th>Convention</th>
                <th>Start</th>
                <th>End</th>
                <th>Condays</th>
            </tr>
            <tr th:each="visit : ${visits}">
                <td th:text="${visit.convention.title}">Convention Title</td>
                <td th:text="${visit.convention.start}">Convention Start</td>
                <td th:text="${visit.convention.end}">Convention End</td>
                <td th:text="${visit.condays}">Condays</td>
            </tr>
        </table>
    </div>
</div>

</body>
</html>